<H1>Introduction to Python (Part 1)</H1>

We will be using the Jupyter notebook for many activities this semester. Every notebook has an associated language called the "kernel". We will be using in the Python 3 kernel from the IPython project.

# 1. Python Basics

Python is a programming language that has been under development for over 25 years [1].

Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [2]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name="Mahnoor"
Name="Shahid"

print(name)
print(Name)

Mahnoor
Shahid

## 1.1 Statements

Python is an [imperative language](https://en.wikipedia.org/wiki/Imperative_programming) based on [statements](https://en.wikipedia.org/wiki/Statement_(computer_science&#41;). That is, programs in Python consists of lines composed of statements. A statement can be:

* a single expression
* an assignment
* a function call
* a function definition
* a statement; statement

### Expressions


In Python, expressions are combinations of values, variables, operators, and function calls that are evaluated to produce another value.

#### Types of Expressions in Python

##### Literal Expressions:
These are the simplest forms of expressions, consisting of values (literals) themselves.
Example: `42`, `'Hello, World!'`, `3.14`

##### Variable Expressions:
Variables themselves can be expressions. The value of the variable is the result of the expression.
Example: `x`, `name`, `total_sum`

##### Arithmetic Expressions:
These involve arithmetic operators and produce numerical results.
Example: `3 + 5`, `2 * (3 + 4)`, `x - 7`

##### Comparison Expressions:
These involve comparison operators and evaluate to boolean values (True or False).
Example: `x > 10`, `3 == 3`, `a != b`

##### Logical Expressions:
These involve logical operators (`and`, `or`, `not`) and evaluate to boolean values.
Example: `x > 10 and y < 20`, `not done`

##### Function Call Expressions:
These involve calling functions that return a value.
Example: `len('Hello')`, `max(3, 4, 5)`

##### String Expressions:
These involve string operators like concatenation or repetition.
Example: `'Hello' + ' ' + 'World!'`, `'abc' * 3`

##### List and Dictionary Expressions:
These involve list, dictionary, or other collection operations.
Example: `[1, 2, 3] + [4, 5]`, `{'key': 'value'}.get('key')`

##### Conditional Expressions (Ternary Operator):
These are used to select one of two values based on a condition.
Example: `x if x > 0 else -x`

#### Numbers

In [3]:
1

1

In [4]:
2

2

In [5]:
-3

-3

In [6]:
3.14

3.14

In [7]:
1
2

2

In [8]:
type(3.14)

float

#### Strings

In [9]:
'apple'

'apple'

In [10]:
"apple"
"banana"
"papaya"

'papaya'

In [11]:
type("my name is Mahnoor")

str

In [12]:
type("5000")

str

In [13]:
type("True")

str

Notice that the Out might not match exactly the In. In the above example, we used double-quotes but the representation of the string used single-quotes. Python will default to showing representations of values using single-quotes, if it can.

#### Boolean Values

In [14]:
True

True

In [15]:
False

False

In [16]:
type(True)

bool

#### Variables

In [17]:
x = 6

In [18]:
x

6

In [19]:
y = 100 + 20

In [20]:
y

120

In [21]:
x=5
y=10
z=x+y

print(z)

15

In [22]:
myName = "Mahnoor"
print(myName)

Mahnoor

In [23]:
print(f"My name is {myName}")

My name is Mahnoor

In [24]:
apples=10 
bananas=20
oranges=50

print(f"Apples cost {pow(apples, 3)} and Bananas cost {bananas+oranges}")

Apples cost 1000 and Bananas cost 70

In [25]:
##Understand  Semnatics In Python
# variable assignment
height=155 ##height is an integer
name="Mahnoor" ##name is a string
is_student=True ##is_student is a boolean

In [26]:
## Type Inference
print(type(height))
print(type(name))

<class 'int'>
<class 'str'>

In [27]:
## Multiple Statements on a single line
x=5; y=10; z=x+y
print(z)

15

In [28]:
# Invalid variable names
#2age=30
#first-name="Mahnoor"
@name="Mahnoor"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1798576317.py, line 4)

## Lists and Dicts

Python has three very useful data structures built into the language:

* dictionaries (hash tables): {}
* lists: []
* tuples: (item, ...)

List is a mutable list of items. Tuple is a read-only data structure (immutable).

### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.


1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [29]:
lst=[]
print(type(lst))

<class 'list'>

In [30]:
names=["Mahnoor","Jack","Jacob"]
print(names)

['Mahnoor', 'Jack', 'Jacob']

In [31]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [32]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [33]:
myList = [1,2,'string1',3,True]
myString = "this is my string sentence"

print(type(myList))
print(type(myString))

print(myList)
print(myString)

<class 'list'>
<class 'str'>
[1, 2, 'string1', 3, True]
this is my string sentence

In [34]:
a = (1, 2, 3)
a = (6, 5, 'str', 2)
a = "this is my new string"
print(a)

this is my new string

#### Indexing

In [35]:
### Accessing List Elements
fruits=["apple","banana","cherry","kiwi","gauva"]

In [36]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [37]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [38]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [39]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [40]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [41]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [42]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [43]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [44]:
index=fruits.index("cherry")
print(index)

2

In [45]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [46]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [47]:
fruits.sort() ## SSorts the list in ascending order

In [48]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [49]:
fruits.reverse() ## REverse the list

In [50]:
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [51]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [52]:
myList = [40, 50, 70, 10, 1000]

print(myList[0])
print(myList[2])
print(myList[4])

40
70
1000

In [53]:
myList[2] = 3
myList

[40, 50, 3, 10, 1000]

In [54]:
myList[2] + myList[3]

13

In [55]:
myList

[40, 50, 3, 10, 1000]

In [56]:
myList.append(2000)
myList

[40, 50, 3, 10, 1000, 2000]

In [57]:
myList.extend([11000, 33000])
myList

[40, 50, 3, 10, 1000, 2000, 11000, 33000]

In [58]:
myList[5]

2000

In [59]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
numbers[::3]

[1, 4, 7, 10]

In [61]:
numbers[::-2]

[10, 8, 6, 4, 2]

##### Example 1. Manage A To Do List
- Create a To Do List To Keep Track OF Tasks

In [62]:
to_do_list=["Buy Groceries","Clean the house","Pay bills"]

## Adding to task
to_do_list.append("Schedule meeting")
to_do_list.append("Go For a Run")

## Removing a completed task
to_do_list.remove("Clean the house")

## checking if a task is in the list
if "Pay bills" in to_do_list:
    print("Don't forgrt to pay the utility bills")

print("To Do List remaining")
for task in to_do_list:
    print(f"-{task}")

Don't forgrt to pay the utility bills
To Do List remaining
-Buy Groceries
-Pay bills
-Schedule meeting
-Go For a Run

##### Example 2: Organizing Student Grades
- Create a list to store and calculate average grades for students

In [63]:
# Organizing student grades
grades = [85, 92, 78, 90, 88]

# Adding a new grade
grades.append(95)

# Calculating the average grade
average_grade = sum(grades) / len(grades)
print(f"Average Grade: {average_grade:.2f}")

# Finding the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest Grade: {highest_grade}")
print(f"Lowest Grade: {lowest_grade}")

Average Grade: 88.00
Highest Grade: 95
Lowest Grade: 78

##### Example 3: Managing An Inventory
- Use a list to manage inventory items in a store

In [64]:
# Managing an inventory
inventory = ["apples", "bananas", "oranges", "grapes"]

# Adding a new item
inventory.append("strawberries")

# Removing an item that is out of stock
inventory.remove("bananas")

# Checking if an item is in stock
item = "oranges"
if item in inventory:
    print(f"{item} are in stock.")
else:
    print(f"{item} are out of stock.")

# Printing the inventory
print("Inventory List:")
for item in inventory:
    print(f"- {item}")

oranges are in stock.
Inventory List:
- apples
- oranges
- grapes
- strawberries

##### Example 4: Collecting User Feedback
- Use a list to collect and analyze user feedback.

In [65]:
# Collecting user feedback
feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

# Adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Printing all feedback
print("User Feedback:")
for comment in feedback:
    print(f"- {comment}")

Positive Feedback Count: 2
User Feedback:
- Great service!
- Very satisfied
- Could be better
- Excellent experience
- Not happy with the service

### Introduction to Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs.
Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

1. Creating Dictionaries
2. Accessing Dictionary Elements
3. Modifying Dictionary Elements
4. Dictionary Methods
5. Iterating Over Dictionaries
6. Nested Dictionaries
7. Dictionary Comprehensions

In [66]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [67]:
empty_dict=dict()
empty_dict

{}

In [68]:
student={"name":"Mahnoor","height":155,"grade":24}
print(student)
print(type(student))

{'name': 'Mahnoor', 'height': 155, 'grade': 24}
<class 'dict'>

In [69]:
# Single key is slways used
student={"name":"Mahnoor","height":155,"name":24}
print(student)

{'name': 24, 'height': 155}

In [70]:
## accessing Dictionary Elements
student={"name":"Mahnoor","height":155,"grade":'A'}
print(student)

{'name': 'Mahnoor', 'height': 155, 'grade': 'A'}

In [71]:
## Accessing Dictionary elements
print(student['grade'])
print(student['height'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
155
A
None
Not Available

In [72]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Mahnoor', 'height': 155, 'grade': 'A'}

In [73]:
student["height"]=154.7  ##update value for the key
print(student)
student["address"]="Essen, Germany" ## added a new key and value
print(student)

{'name': 'Mahnoor', 'height': 154.7, 'grade': 'A'}
{'name': 'Mahnoor', 'height': 154.7, 'grade': 'A', 'address': 'Essen, Germany'}

In [74]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Mahnoor', 'height': 154.7, 'address': 'Essen, Germany'}

In [75]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'height', 'address'])
dict_values(['Mahnoor', 154.7, 'Essen, Germany'])
dict_items([('name', 'Mahnoor'), ('height', 154.7), ('address', 'Essen, Germany')])

In [76]:
## shallow vs deep copy
student_copy1=student ## shallow copy
student_copy2=student.copy() ## deep copy

print(student)
print(student_copy1)
print(student_copy2)

{'name': 'Mahnoor', 'height': 154.7, 'address': 'Essen, Germany'}
{'name': 'Mahnoor', 'height': 154.7, 'address': 'Essen, Germany'}
{'name': 'Mahnoor', 'height': 154.7, 'address': 'Essen, Germany'}

In [77]:
student["name"]="Mahnoor Shahid"
print(student)
print(student_copy1)
print(student_copy2)

{'name': 'Mahnoor Shahid', 'height': 154.7, 'address': 'Essen, Germany'}
{'name': 'Mahnoor Shahid', 'height': 154.7, 'address': 'Essen, Germany'}
{'name': 'Mahnoor', 'height': 154.7, 'address': 'Essen, Germany'}

In [78]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [81]:
my_mixed_dict= {"apple": "a fruit", "monkey": "a mammal", "oranges": f'{oranges}', "cost": 500, "new_price": 2.0001, 500: 'five hundred', (1,2,3):'this is a tuple'}

In [82]:
my_mixed_dict

{'apple': 'a fruit',
 'monkey': 'a mammal',
 'oranges': '50',
 'cost': 500,
 'new_price': 2.0001,
 500: 'five hundred',
 (1, 2, 3): 'this is a tuple'}

### Function Calls

There are two ways to call functions in Python:

1. by pre-defined infix operator name
2. by function name, followed by parentheses

Infix operator name:

In [83]:
print()

In [86]:
type("hello")

str

In [87]:
str(123)

'123'

In [88]:
int('1')

1

In [89]:
float(124)

124.0

In [92]:
pow(2,5)

32

In [93]:
abs(-200)

200

In [94]:
a = 20
b = 18
c = -1

min(a,b,c)

-1

In [95]:
myList = [40, 50, 70, 10, 1000]
min(myList)

10

In [96]:
print(f"The minimum of my list is {min(myList)}")

The minimum of my list is 10

In [97]:
max(myList)

1000

In [98]:
print(f"The maximum of my list is {min(myList)}")

The maximum of my list is 10

In [99]:
myList = [200, 400, 500, 200, 550]

len(myList)

5

In [100]:
myList[len(myList)]

IndexError: list index out of range

In [101]:
myList[len(myList)-1]

550

In [102]:
range(0, len(myList))

range(0, 5)

In [103]:
round(2.5, 3)

2.5

In [104]:
import math

math.ceil(3.15)

4

In [105]:
math.floor(3.15)

3

In [107]:
age=int(input("What is the age"))
print(age,type(age))

5 <class 'int'>

### Special Values

In [108]:
myVar = None
print(myVar)

None

In [109]:
myVar

### Operators
1. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
2. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
3. Logical Operators
   - AND
   - OR
   - NOT

#### Arithmethic Operators

In [110]:
a = 10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [111]:
10/5

2.0

In [112]:
21/5

4.2

In [113]:
21//5

4

#### Comparison Operators

In [114]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [115]:
1 == 1

True

In [116]:
2+3 == 6

False

In [117]:
str1="Mahnoor"
str2="Mahnoor"

str1==str2

True

In [118]:
str3="mahnoor"
str4="Mahnoor"

str3==str4

False

In [119]:
## Not Equal to !=
str1!=str2

False

In [120]:
str3!=str4

True

In [121]:
[] == []

True

In [122]:
list1 = [1,2,3]
list2 = [3,2,1]

list1==list2

False

In [123]:
list1 = []
list2 = []

list1==list2

True

#### Use of is vs ==
- is: Checks for object identity (i.e., whether two variables reference the same object).
- ==: Checks for value equality (i.e., whether two variables have the same value).

In [124]:
[] is []

False

In [125]:
list1 = []
list2 = []

list1 is list2

False

In [126]:
list() is list()

False

In [127]:
tuple() is tuple()

True

In [128]:
57663463467 is 57663463467

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Mahnoor\AppData\Local\Temp\ipykernel_40380\4003206270.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  57663463467 is 57663463467

True

In [129]:
# greater than >

num1=45
num2=55

num1>num2

False

In [130]:
## less than <

print(num1<num2)

True

In [131]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [132]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

#### Logical Operators

In [133]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [134]:
X=False
Y=True

result =X and Y
print(result)

False

In [135]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [136]:
# Not operator
X=False
not X

True

In [138]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 1031.0
Subtraction: 973.0
Multiplication: 29058.0
Division: 34.55172413793103
Floor Division: 34.0
Modulus: 16.0
Exponentiation: 1.0596536158467621e+87

# 2. Advanced Topics

## Conditional Statements (if, elif, else)

1. Introduction to Conditional Statements
2. if Statement
3. else Statement
4. elif Statement
5. Nested Conditional Statements

#### Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [139]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:
    print(age)

32

In [140]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

In [141]:
## if statement
age=20

if age>=18:
    print("You are allowed to vote in the elections")

You are allowed to vote in the elections

In [142]:
age>=18

True

In [143]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age=16

if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are a minor

In [144]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age=17

if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

1. Select a grade save the result in variable called "x"

2. Use if else conditions to print the grade

3. if x is above 80 then it is A

4. else if x is equals to 80 then it is B

5. else it is C

In [145]:
x = 85

if x > 80:
    print('Grade A')
elif x == 80:
    print('Grade B+') 
elif x > 70:
    print('Grade B-')
else:
    print('Grade C')

Grade A

In [146]:
a = 1
b = 2

# if a > 10 or a == 10:
if a >= 10 and b > 10:
    print('Both a and b are greater than 10')
elif a > 10 or b > 10:
    print('Any a or b is greater than 10')
else:
    print('Both a and b are smaller than 10')

Both a and b are smaller than 10

In [148]:
## Nested Condiitonal Statements

# You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number even ,odd,negative

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

The number is positive
The number is even

In [149]:
## Determine if a year is a leap year using nested condition statement

year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")

else:
    print(year,"is not a leap year")

2024 is a leap year

In [150]:
# Simple Calculator program

# Take user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

# Perform the requested operation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
else:
    result = "Invalid operation."

print("Result:", result)

Result: 9.0

In [ ]:
# Determine the ticket price based on age and whether the person is a student.
# Ticket pricing based on age and student status

# Take user input
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()

# Determine ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == 'yes':
        price = "$12"
    else:
        price = "$15"
elif age <= 64:
    if is_student == 'yes':
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"

print("Ticket Price:", price)

In [ ]:
# Calculate an employee's bonus based on their performance rating and years of service.

# Take user input
years_of_service = int(input("Enter years of service: "))
performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))

# Determine bonus percentage
if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10
elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage = 5
else:
    bonus_percentage = 0

# Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100

print("Bonus Amount: ${:.2f}".format(bonus_amount))

In [ ]:
# Complex Example: User Login System
# A simple user login system that checks the username and password.

# Predefined username and password
stored_username = "admin"
stored_password = "password123"

# Take user input
username = input("Enter username: ")
password = input("Enter password: ")

# Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

## Defining Functions

1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [151]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [152]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [153]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [154]:
## Call this function
even_or_odd(24)

the number is even

In [155]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [156]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the paradise")

greet("Mahnoor!")

Hello Mahnoor! Welcome To the paradise

In [157]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet("Mahnoor Shahid!")

Hello Mahnoor Shahid! Welcome To the paradise

In [158]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*mahnoor):
    for number in mahnoor:
        print(number)

In [159]:
print_numbers(1,2,3,4,5,6,7,8,"Mahnoor")

1
2
3
4
5
6
7
8
Mahnoor

In [160]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [161]:
print_numbers(1,2,3,4,5,6,7,8,"Mahnoor")

1
2
3
4
5
6
7
8
Mahnoor

In [162]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [163]:
print_details(name="Mahnoor",height="155")

name:Mahnoor
height:155

In [164]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [165]:
print_details(1,2,3,4,"Mahnoor",name="Mahnoor",height="155")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Mahnoor
name:Mahnoor
height:155

In [166]:
### Return statements
def return_100():
    return 100

In [167]:
return_100()

100

In [168]:
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [169]:
def return_number(num):
    return num

In [170]:
return_number(5050)

5050

In [171]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

In [172]:
def return_number(num1, num2):
    return num2

In [173]:
return_number(50, 60)

60

In [174]:
def plus(a, b):
    sum_of_values = a + b
    return sum_of_values

In [175]:
plus(3, 4)

7

In [176]:
def plus(a, b):
    a + b

In [177]:
plus(3, 4)

In [178]:
def third_element(aList):
    return aList[2]

def last_element(aList):
    return aList[len(aList)-1]

In [179]:
a=[100,200,300]
third_element(a)

300

1. Create a method that takes two lists.
2. In the method, append number 4 to the first list.
3. Take the last element of the first list and add it with the first element of the second list.
4. return the result

In [180]:
def hello_method(list_1, list_2):
    list_1.append(4)
    result = list_1[len(list_1)-1] + list_2[0]
    return result

1. Create a method that takes a mumber and a list.
2. In the method, multiply the last element of that list with that number.
3. Return the number and the list back

In [181]:
def hello_method(my_num, my_list):
    my_list[len(my_list)-1] = my_list[len(my_list)-1] * my_num
    # my_list[len(my_list)-1] = 10
    # my_list[0] = 102
    return my_list, my_num

hello_method(2, [4,4,4,4])

([4, 4, 4, 8], 2)

1. Create a function called "print_name" that takes a string.
2. In the function, print the name and dont return anything.
3. Try calling the funtion with your name.

In [182]:
def print_name(name):
    print(name)

print_name('Mahnoor')

Mahnoor

1. Create a function called "grade".
2. This function takes two arguments numbers. One is the marks acheieved and second is the total marks.
3. return the percentage

In [183]:
def grade(a,b):
    return a/b*100

#### Functions Examples

#### Example 1: Temperature Conversion

In [184]:
def convert_temperature(temp,unit):
    """This function converts temperature between Celsius and Fahrenheit"""
    if unit=='C':
        return temp * 9/5 + 32  ## Celsius To Fahrenheit
    elif unit=="F":
        return (temp-32)*5/9 ## Fahrenheit to celsius
    else:
        return None

print(convert_temperature(25,'C'))
print(convert_temperature(77,'F'))

77.0
25.0

##### Example 2: Password Strength Checker

In [185]:
def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

## calling the function
print(is_strong_password("WeakPwd"))
print(is_strong_password("Str0ngPwd!"))

False
True

##### Example 3: Calculate the Total Cost Of Items In a Shopping Cart

In [186]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']* item['quantity']

    return total_cost


## Example cart data

cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3}

]

## calling the function
total_cost=calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

##### Example 4: Check IF a String Is Palindrome

In [187]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

##### Example 5: Calculate the factorials of a number using recursion

In [188]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(6))

720

##### Example 6: A Function To Read A File and count the frequency of each word

In [190]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?;:"\'')
                word_count[word]=word_count.get(word,0)+1
    
    return word_count

filepath='assets/source.txt'
word_frequency=count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'how': 1, 'are': 1, 'you': 1, 'i': 1, 'am': 1, 'fine': 1, 'welcome': 1, 'to': 1, 'the': 1, 'course': 1}

##### Example 7: Validate Email Address

In [191]:
import re

# Email validation function
def is_valid_email(email):
    """This function checks if the email is valid."""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

# Calling the function
print(is_valid_email("test@example.com"))  # Output: True
print(is_valid_email("invalid-email"))  # Output: False

True
False

What happened? All functions return *something*, even if you don't specify it. If you don't specify a return value, then it will default to returning `None`.

<div style="background-color: lightgrey">
<h2>How to Read Python Error Messages</h2>

<p>
Python error messages 
<p>
<tt>TypeError: Can't convert 'int' object to str implicitly</tt>
</p>

<p>Above the error message is the "traceback" also called the "call stack". This is a representation of the sequence of procedure calls that lead to the error. If the procedure call originated from code from a file, the filename would be listed after the word "File" on each line. If the procedure call originated from a notebook cell, then the word "ipython-input-#-HEX".
</p>
</div>

In [192]:
"a" + 1

TypeError: can only concatenate str (not "int") to str

In [193]:
myList = [2, 4, 5, 9, 1]
myList[5]

IndexError: list index out of range

## Loops
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [194]:
list_of_items = [100, 200, 300, 50, 150, 160, 161]

In [195]:
print(list_of_items)

[100, 200, 300, 50, 150, 160, 161]

In [196]:
for item in list_of_items:
    print(item)

100
200
300
50
150
160
161

In [197]:
for item in list_of_items:
    print(item-20)

80
180
280
30
130
140
141

In [198]:
range(5)

range(0, 5)

In [199]:
for i in range(5):
    print(i)

0
1
2
3
4

In [200]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [201]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [202]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [203]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [204]:
## strings

str="Mahnoor Shahid"

for i in str:
    print(i)

M
a
h
n
o
o
r

S
h
a
h
i
d

In [205]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [206]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break sstatement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [207]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [208]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [209]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [210]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [211]:
n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [212]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [213]:
inx = [0, 1,2,3,4,5,6]

for indx in inx:
    print(list_of_items[indx])

100
200
300
50
150
160
161

In [214]:
for indx in range(0, len(list_of_items)):
    print(list_of_items[indx])

100
200
300
50
150
160
161

In [215]:
list_of_items = [100, 200, 300, 50, 150]
                 
def add_2(x):
    return x + 2

for item in list_of_items:
    new_value = add_2(item)
    print(new_value)

102
202
302
52
152

In [216]:
list_of_items = [100, 200, 300, 50, 150]
new_list = []
                 
def add_2(x):
    return x + 2

for item in list_of_items:
    new_value = add_2(item)
    new_list.append(new_value)


print(new_list)

[102, 202, 302, 52, 152]

In [217]:
list_of_items = [100, 200, 300, 50, 150]
                 
def add_2(x):
    return x + 2

for indx in range(0, len(list_of_items)):
    new_value = add_2(list_of_items[indx])
    list_of_items[indx] = new_value

print(list_of_items)

[102, 202, 302, 52, 152]

1. Create a list of integers.
2. Create a function that takes one integer value and do something with it.
3. Create a loop and apply the function with every element of the list
4. Create a new list or change the current list with the new values.

1. Create a list of strings.
2. Create a function that takes one string value attach the word "happy" with it.
3. Create a loop and apply the function with every element of the list
4. Create a new list or change the current list with the new values.

In [218]:
list_of_strings= ['cat', 'duck']
new_list = []

def adds_happy(word):
    return f"happy {word}"

for i in list_of_strings:
    new_list.append(adds_happy(i))

new_list

['happy cat', 'happy duck']

In [219]:
slist = ['duck','cat']

def animal(x):
    return f'{x} is happy'

for indx in slist:
    print(animal(indx))

for duck in range(0, len(slist)):
    print(animal(duck))

for indx in range(0, len(slist)):
    print(animal(slist[indx]))

duck is happy
cat is happy
0 is happy
1 is happy
duck is happy
cat is happy

In [220]:
list_of_items = [150, 100, 250, 60, 500, 20]

indx = 0
while(list_of_items[indx] >= 100):
    print(list_of_items[indx])
    indx = indx + 1

150
100
250

In [221]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

student={"name":"Mahnoor","height":155,"grade":'A'}

## Iterating over keys
for keys in student.keys():
    print(keys)

name
height
grade

In [222]:
## Iterate over values
for value in student.values():
    print(value)

Mahnoor
155
A

In [223]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Mahnoor
height:155
grade:A

In [224]:
## Nested Disctionaries
students={
    "student1":{"name":"Mahnoor","height":155,"grade":'A'},
    "student2":{"name":"Peter","height":170,"grade":'C'}
}
print(students)

{'student1': {'name': 'Mahnoor', 'height': 155, 'grade': 'A'}, 'student2': {'name': 'Peter', 'height': 170, 'grade': 'C'}}

In [225]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["height"])

Peter
170

In [226]:
students.items()

dict_items([('student1', {'name': 'Mahnoor', 'height': 155, 'grade': 'A'}), ('student2', {'name': 'Peter', 'height': 170, 'grade': 'C'})])

In [227]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Mahnoor', 'height': 155, 'grade': 'A'}
name:Mahnoor
height:155
grade:A
student2:{'name': 'Peter', 'height': 170, 'grade': 'C'}
name:Peter
height:170
grade:C

## List comprehension

"List comprehension" is the idea of writing some code inside of a list that will generate a list.

Consider the following:

Basics Syantax            [expression for item in iterable]

with conditional logic    [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [228]:
### Basic List Comphrension

sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [229]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [230]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [231]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [232]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

In [233]:
list_of_items = [100,200,300,400,500]
new_list = []
                 
def multiply_2(x):
    return x * 2

for item in list_of_items:
    new_value = multiply_2(item)
    new_list.append(new_value)

print(new_list)

[200, 400, 600, 800, 1000]

In [234]:
[multiply_2(x) for x in list_of_items]

[200, 400, 600, 800, 1000]

In [235]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [236]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [237]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

But list comprehension is much more concise.

In [238]:
slist = ['duck','cat', 'mouse']

def animal(x):
    return f'{x} is happy'

[animal(i) for i in slist]

['duck is happy', 'cat is happy', 'mouse is happy']

More Resources: 

**Getting Started with Python**:

* https://www.codecademy.com/learn/python
* http://docs.python-guide.org/en/latest/intro/learning/
* https://learnpythonthehardway.org/book/
* https://www.codementor.io/learn-python-online
* https://websitesetup.org/python-cheat-sheet/

**Learning Python in Notebooks**:

* http://mbakker7.github.io/exploratory_computing_with_python/

This is handy to always have available for reference:

**Python Reference**:

* https://docs.python.org/3.5/reference/