<H1>Introduction to Python (Part 1)</H1>

We will be using the Jupyter notebook for many activities this semester. Every notebook has an associated language called the "kernel". We will be using in the Python 3 kernel from the IPython project.

# 1. Python

Python is a programming language that has been under development for over 25 years [1].

This Chapter will not cover everything in Python. If you would like, please consider the following resources:

**Getting Started with Python**:

* https://www.codecademy.com/learn/python
* http://docs.python-guide.org/en/latest/intro/learning/
* https://learnpythonthehardway.org/book/
* https://www.codementor.io/learn-python-online
* https://websitesetup.org/python-cheat-sheet/

**Learning Python in Notebooks**:

* http://mbakker7.github.io/exploratory_computing_with_python/

This is handy to always have available for reference:

**Python Reference**:

* https://docs.python.org/3.5/reference/

## 1.1 Statements

Python is an [imperative language](https://en.wikipedia.org/wiki/Imperative_programming) based on [statements](https://en.wikipedia.org/wiki/Statement_(computer_science&#41;). That is, programs in Python consists of lines composed of statements. A statement can be:

* a single expression
* an assignment
* a function call
* a function definition
* a statement; statement

### 1.1.1 Expressions


In Python, expressions are combinations of values, variables, operators, and function calls that are evaluated to produce another value.

#### Types of Expressions in Python

##### Literal Expressions:
These are the simplest forms of expressions, consisting of values (literals) themselves.
Example: `42`, `'Hello, World!'`, `3.14`

##### Variable Expressions:
Variables themselves can be expressions. The value of the variable is the result of the expression.
Example: `x`, `name`, `total_sum`

##### Arithmetic Expressions:
These involve arithmetic operators and produce numerical results.
Example: `3 + 5`, `2 * (3 + 4)`, `x - 7`

##### Comparison Expressions:
These involve comparison operators and evaluate to boolean values (True or False).
Example: `x > 10`, `3 == 3`, `a != b`

##### Logical Expressions:
These involve logical operators (`and`, `or`, `not`) and evaluate to boolean values.
Example: `x > 10 and y < 20`, `not done`

##### Function Call Expressions:
These involve calling functions that return a value.
Example: `len('Hello')`, `max(3, 4, 5)`

##### String Expressions:
These involve string operators like concatenation or repetition.
Example: `'Hello' + ' ' + 'World!'`, `'abc' * 3`

##### List and Dictionary Expressions:
These involve list, dictionary, or other collection operations.
Example: `[1, 2, 3] + [4, 5]`, `{'key': 'value'}.get('key')`

##### Conditional Expressions (Ternary Operator):
These are used to select one of two values based on a condition.
Example: `x if x > 0 else -x`

#### 1.1.1.1 Numbers

In [ ]:
1

In [ ]:
2

In [ ]:
-3

In [ ]:
1
2

In [ ]:
3.14

In [ ]:
type(3.14)

#### 1.1.1.2 Strings

In [ ]:
'apple'

In [ ]:
"apple"

In [ ]:
type("my name is Mahnoor")

In [ ]:
type("5000")

In [ ]:
type("True")

Notice that the Out might not match exactly the In. In the above example, we used double-quotes but the representation of the string used single-quotes. Python will default to showing representations of values using single-quotes, if it can.

#### 1.1.1.3 Boolean Values

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

#### 1.1.1.4 Variables

In [ ]:
x = 6

In [ ]:
x

In [ ]:
y = 100 + 20

In [ ]:
y

In [ ]:
x + y

In [ ]:
myName = "Mahnoor"

In [ ]:
myName

In [ ]:
print(f"My name is {myName}")

In [ ]:
apples=10 
bananas=20
oranges=50

print(f"Apples cost {pow(apples, 3)} and Bananas cost {bananas+oranges}")

#### 1.1.1.5 Lists and Dicts

Python has three very useful data structures built into the language:

* dictionaries (hash tables): {}
* lists: []
* tuples: (item, ...)

List is a mutable list of items. Tuple is a read-only data structure (immutable).

In [ ]:
myList = [1,2,'string1',3,True]
myString = "this is my string sentence"

print(type(myList))
print(type(myString))

print(myList)
print(myString)

In [ ]:
a = (1, 2, 3)
a = (6, 5, 'str', 2)
a = "this is my new string"
print(a)

In [ ]:
mydict= {"apple": "a fruit", 
         "banana": "an herb", 
         "monkey": "a mammal",
         "oranges": f'{oranges}',
         "cost": cost+500,
        "new_price": 2.0001,
            500: 'five hundred',
            (1,2,3):'this is a tuple'}

In [ ]:
mydict

#### 1.1.1.6 Indexing

In [ ]:
myList = [40, 50, 70, 10, 1000]

print(myList[0])
print(myList[2])
print(myList[4])

In [ ]:
myList[2] = 3
myList

In [ ]:
myList[2] + myList[3]

In [ ]:
myList

In [ ]:
myList.append(2000)
myList

In [ ]:
myList.extend([11000, 33000])
myList

In [ ]:
myList[5]

### 1.1.2 Function Calls

There are two ways to call functions in Python:

1. by pre-defined infix operator name
2. by function name, followed by parentheses

Infix operator name:

In [ ]:
print()

In [ ]:
type()

In [ ]:
pow()

In [ ]:
str(123)

In [ ]:
type(a)

In [ ]:
int('1')

In [ ]:
abs(-200)

In [ ]:
a = 20
b = 18
c = -1

min(a,b,c)

In [ ]:
min(myList)

In [ ]:
print(f"The minimum of my list is {min(myList)}")

In [ ]:
max(50,10,100)

In [ ]:
round(2.5, 3)

In [ ]:
import math

math.ceil(3.15)

In [ ]:
math.floor(3.15)

In [47]:
myList = [200, 400, 500, 200, 550]

len(myList)

5

In [48]:
myList[len(myList)]

IndexError: list index out of range

In [49]:
myList[len(myList)-1]

550

In [50]:
range(0, len(myList))

range(0, 5)

#### 1.1.2.1 Print

Evaluating and display result as an Out, versus evaluating and printing result (side-effect).

In [ ]:
print(1)

In [ ]:
print('hello world')
print('hello world again')
# print('2024')
print('Hey!')

### 1.1.3 Special Values

In [ ]:
myVar = None
print(myVar)

In [ ]:
myVar

### 1.1.4 Defining Functions

In [ ]:
def return_100():
    return 100

In [ ]:
return_100()

In [ ]:
def return_number(num):
    return num

In [ ]:
return_number(5050)

In [ ]:
def return_number(num1, num2):
    return num2

In [ ]:
return_number(50, 60)

In [ ]:
def plus(a, b):
    sum_of_values = a + b
    return sum_of_values

In [ ]:
plus(3, 4)

In [ ]:
def plus(a, b):
    a + b

In [ ]:
plus(3, 4)

In [ ]:
def third_element(aList):
    return aList[2]

def last_element(aList):
    return aList[len(aList)-1]

In [ ]:
a=[100,200,300]
third_element(a)

1. Create a method that takes two lists.
2. In the method, append number 4 to the first list.
3. Take the last element of the first list and add it with the first element of the second list.
4. return the result

In [ ]:
def hello_method(list_1, list_2):
    list_1.append(4)
    result = list_1[len(list_1)-1] + list_2[0]
    return result

1. Create a method that takes a mumber and a list.
2. In the method, multiply the last element of that list with that number.
3. Return the number and the list back

In [ ]:
def hello_method(my_num, my_list):
    my_list[len(my_list)-1] = my_list[len(my_list)-1] * my_num
    # my_list[len(my_list)-1] = 10
    # my_list[0] = 102
    return my_list, my_num

hello_method(2, [4,4,4,4])

1. Create a function called "print_name" that takes a string.
2. In the function, print the name and dont return anything.
3. Try calling the funtion with your name.

In [2]:
def print_name(name):
    print(name)

print_name('Mahnoor')

Mahnoor

1. Create a function called "grade".
2. This function takes two arguments numbers. One is the marks acheieved and second is the total marks.
3. return the percentage

In [23]:
def grade(a,b):
    return a/b*100

What happened? All functions return *something*, even if you don't specify it. If you don't specify a return value, then it will default to returning `None`.

<div style="background-color: lightgrey">
<h2>How to Read Python Error Messages</h2>

<p>
Python error messages 
<p>
<tt>TypeError: Can't convert 'int' object to str implicitly</tt>
</p>

<p>Above the error message is the "traceback" also called the "call stack". This is a representation of the sequence of procedure calls that lead to the error. If the procedure call originated from code from a file, the filename would be listed after the word "File" on each line. If the procedure call originated from a notebook cell, then the word "ipython-input-#-HEX".
</p>
</div>

In [ ]:
"a" + 1

In [ ]:
myList = [2, 4, 5, 9, 1]
myList[5]

## 1.2 Equality

### 1.2.1 ==

In [3]:
1 == 1

True

In [4]:
2+3 == 6

False

In [5]:
[] == []

True

In [7]:
list1 = [1,2,3]
list2 = [3,2,1]

list1==list2

False

In [8]:
list1 = []
list2 = []

list1==list2

True

### 1.2.2 is

#### Use of is vs ==
- is: Checks for object identity (i.e., whether two variables reference the same object).
- ==: Checks for value equality (i.e., whether two variables have the same value).

In [10]:
[] is []

False

In [11]:
list1 = []
list2 = []

list1 is list2

False

In [12]:
list() is list()

False

In [13]:
tuple() is tuple()

True

In [14]:
57663463467 is 57663463467

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Mahnoor\AppData\Local\Temp\ipykernel_12536\4003206270.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  57663463467 is 57663463467

True

# 2. Advanced Topics

## 2.1 Conditions

In [ ]:
a = 10

if a > 10:
    print('a is greater than 10')
elif a == 10:
    print('a is equals to 10')    
else:
    print('a is smaller than 10')

1. Call grade() function and save the result in variable called "x"

2. Use if else conditions to print the grade

3. if x is above 80 then it is A

4. else if x is equals to 80 then it is B

5. else it is C

In [31]:
x = grade(1,200)
y = grade(100,200)
z = grade(180,200)

In [32]:
if x > 80:
    print('Grade A')
elif x == 80:
    print('Grade B+') 
elif x > 70:
    print('Grade B-')
else:
    print('Grade C')

Grade C

In [ ]:
a = 1
b = 2

# if a > 10 or a == 10:
if a >= 10 and b > 10:
    print('Both a and b are greater than 10')
elif a > 10 or b > 10:
    print('Any a or b is greater than 10')
else:
    print('Both a and b are smaller than 10')

1. Call grade() function and save the result in variable called "x"

2. Use if else conditions to print the grade

3. if x is above and equals to 80 then it is A (hint: x>=80)

4. else if x is lower than 80 **AND** above than and equals to 60 then it is B (hint: x>=60)

5. else if x is lower than 60 **AND** above than and equals to 40 then it is C

6. else it is F

In [38]:
if x >= 80:
    print('Grade A')
elif x>= 60:
    print('Grade B')
elif x>= 40:
    print('Grade C')
else:
    print('Grade F')


## executiono of statements missing??
if x >= 80:
    print('Grade A')
if x>= 60 and x < 80:
    print('Grade B')
if x>= 40 and x < 60:
    print('Grade C')

Grade B
Grade B

## 2.2 Loops

In [63]:
list_of_items = [100, 200, 300, 50, 150, 160, 161]

In [64]:
print(list_of_items)

[100, 200, 300, 50, 150, 160, 161]

In [65]:
for item in list_of_items:
    print(item)

100
200
300
50
150
160
161

In [66]:
#for item in list_of_items:
#    print(item*2)

In [67]:
len(list_of_items)

7

In [68]:
inx = [0, 1,2,3,4,5,6]

for indx in inx:
    print(list_of_items[indx])

100
200
300
50
150
160
161

In [69]:
for indx in range(0, len(list_of_items)):
    print(list_of_items[indx])

100
200
300
50
150
160
161

In [57]:
list_of_items = [100, 200, 300, 50, 150]
                 
def add_2(x):
    return x + 2

for item in list_of_items:
    new_value = add_2(item)
    print(new_value)

102
202
302
52
152

In [58]:
list_of_items = [100, 200, 300, 50, 150]
new_list = []
                 
def add_2(x):
    return x + 2

for item in list_of_items:
    new_value = add_2(item)
    new_list.append(new_value)


print(new_list)

[102, 202, 302, 52, 152]

In [59]:
list_of_items = [100, 200, 300, 50, 150]
                 
def add_2(x):
    return x + 2

for indx in range(0, len(list_of_items)):
    new_value = add_2(list_of_items[indx])
    list_of_items[indx] = new_value

print(list_of_items)

[102, 202, 302, 52, 152]

1. Create a list of integers.
2. Create a function that takes one integer value and do something with it.
3. Create a loop and apply the function with every element of the list
4. Create a new list or change the current list with the new values.

1. Create a list of strings.
2. Create a function that takes one string value attach the word "happy" with it.
3. Create a loop and apply the function with every element of the list
4. Create a new list or change the current list with the new values.

In [72]:
list_of_strings= ['cat', 'duck']
new_list = []

def adds_happy(word):
    return f"happy {word}"

for i in list_of_strings:
    new_list.append(adds_happy(i))

new_list

['happy cat', 'happy duck']

In [80]:
slist = ['duck','cat']

def animal(x):
    return f'{x} is happy'

for indx in slist:
    print(animal(indx))

for duck in range(0, len(slist)):
    print(animal(duck))

for indx in range(0, len(slist)):
    print(animal(slist[indx]))

duck is happy
cat is happy
0 is happy
1 is happy
duck is happy
cat is happy

In [87]:
list_of_items = [150, 100, 250, 60, 500, 20]

indx = 0
while(list_of_items[indx] >= 100):
    print(list_of_items[indx])
    indx = indx + 1

150
250
500

IndexError: list index out of range

## 2.3 List comprehension

"List comprehension" is the idea of writing some code inside of a list that will generate a list.

Consider the following:

In [84]:
list_of_items = [100,200,300,400,500]
new_list = []
                 
def multiply_2(x):
    return x * 2

for item in list_of_items:
    new_value = multiply_2(item)
    new_list.append(new_value)

print(new_list)

[2, 4, 6, 8, 10]

In [85]:
[multiply_2(x) for x in list_of_items]

[2, 4, 6, 8, 10]

But list comprehension is much more concise.

In [ ]:
slist = ['duck','cat', 'mouse']

def animal(x):
    return f'{x} is happy'

[animal(i) for i in slist]